body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

.blue {
  color: #1491f2
}

.colorCCC {
  color: #ccc
}

.colorFFF {
  color: #fff !important
}

.colorGreen {
  color: #3cb034
}

.color999 {
  color: #999
}

.colorRed {
  color: #ff0000
}

.bgBlue {
  background-color: #1491f2
}

.bg666 {
  background-color: #666666
}

.bg333 {
  background-color: #333333
}

.bgImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto
}

.bgFFF {
  background-color: #ffffff
}

.bgRed {
  background-color: #fd6060
}

.bgGreen {
  background-color: #3cb034
}

.font12 {
  font-size: 12px
}

.font14 {
  font-size: 14px
}

.font18 {
  font-size: 18px
}

.font20 {
  font-size: 20px
}

.fontBlod {
  font-weight: bold
}

.fontWeight {
  font-weight: 400
}

.textCen {
  text-align: center
}

.hoverBlue:hover {
  color: #1491f2
}

body {
  background-color: #f2f2f2;
  color: #333333;
}

.mainRight {
  width: 300px;
}

.mainRight>.test {
  width: 300px;
  height: 100px;
}

.pointer {
  cursor: pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body,
html {
  width: 100%;
  height: 100%;
}

#app-main {
  min-height: 100%;
  width: 100%;
}

.showDiv {
  display: block
}

.hideDiv {
  display: none
}

.color-6 {
  color: #666666
}

.color-theme {
  color: #1491f2
}

.mleft-20 {
  margin-left: 20px
}

.mright-20 {
  margin-right: 20px
}

.mtop-10 {
  margin-top: 10px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
